

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #204c90; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1859fb), to(#204c90));
  background-image: -webkit-linear-gradient(top, #1859fb 0%, #204c90 100%);
  background-image:      -o-linear-gradient(top, #1859fb 0%, #204c90 100%);
  background-image:         linear-gradient(to bottom, #1859fb 0%,#204c90 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1859fb', endColorstr='#204c90',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
}

.nav-justified > li:not(.active) > a:hover,
.nav-justified > li:not(.active) > a:focus {
  background-color: #204c90;
  transition: 0.5s;
}

.nav-justified > li:not(.active) > a:hover {opacity: 0.8}

.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #204c90;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}

.nav-justified > li:first-child > a {
  
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
 
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #204c90;
    border-left: 1px solid #204c90;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead {
    padding-right: 0;
    padding-left: 0;
  }
}
